.wrapper{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right{
    display: flex;
    align-items: center;
}

.itemContainer{
    display: flex;
    align-items: center;
    margin-left: 30px;

}

.logo{
    margin-top: 1%;
}

.search-img{
    margin-top: 0%;
}

.person-img{
    display: none;
}

span{
    font-size: 15px;
    font-weight: 500;
}

.topbar-link{
    text-decoration: none;
}

.btn-client-ing{
    --bgColor: #2b79b6;
    --bgColor: #ff6200;
    --fgColor: #fff;
    position: relative;
    box-sizing: border-box;
    font-size: calc(var(17)*1em/var(16));
    font-family: Arial,sans-serif;
    color: var(--fgColor);
    border-radius: 8px;
    padding-top: calc(7em/17);
    padding-bottom: calc(9em/17);
    padding-left: calc(16em/17);
    padding-right: calc(16em/17);
    color: var(--bgColor);
    border: 1px solid var(--bgColor);
    background-color: var(--fgColor);
    line-height: calc(28em/var(17));
    text-decoration: none;
    z-index: 0;
    cursor: pointer;
    transition: all .25ms ease-in;
    border: none;
    color: #2b79b6;
    padding-left: calc(16em/(17));
    padding-right: calc(16em/(17));
    color: #2b79b6;
    border: 1px solid #2b79b6;
    background-color: #fff;
    margin-right: 15px;
}

@media screen and (max-width: 33.75em){
    
    .search-img{
        margin-right: -60px;
    }
    .logo{
        margin-left: 35%;
        margin-top: 5%;
    }
    .person-img{
        display: block;
        margin-right: 5%;
        margin-top: 6%;
    }
}

