.sol-div{
    background-color: white;
    width: 70%;
    margin-left: 15%;
}

.sol-title-div{
    background-color: white;
    display: flex;
    /* margin-left: 15%; */
    margin-bottom: 7%;
    width: 500px;
    height: 10%;
    position: relative;
}

.sol-description{
    /* margin-left: 15%; */
    /* width: 70%; */
}

.avantages{
    display: flex;
    background-color: aqua;
    /* margin-left: 15%; */
    /* width: 70%; */
    color: #ff6200;
    font-size: 24px;
}

.avantages>div{
    border-left: 1px solid #ff6200;
}

.avantages-small{
    font-size: 18px;
}

.avantages-link{
    color: #323232;
    font-size: 15px;
}

.more{
    background-color: #525199;
    color: #fff;
    width: 20%;
    margin-top: calc(50em/17);
    margin-bottom: calc(-20em/17);
}

.offres-exclusives{
    
}